<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask app</title>
    <!--<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">-->



    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">



    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
</head>
<body>


  

    
  

    <!-- Banner -->
    <div class="row">
      <div class="twelve columns">
          <header id="heading-banner"> 
              <div class="row">
                  <div class="seven columns">
                      <div id="dublin-text">
                          <h2>Dubl<img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="Red Dot">n B<img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="Red Dot">kes</h2>
                      </div>
                  </div>
                  <div class="five columns">
                    <div class="header-elements">
                      <div id="weather-block">
                          <div id="weather"></div>
                      </div>
                      <div class="toggle-container">
                          <span class="toggle-text">Toggle switch and click the map to drop location</span>
                          <label class="switch">
                              <input type="checkbox" id="toggle-switch">
                              <span class="slider"></span>
                          </label>
                      </div>
                      <div class="reset-button-wrapper">
                          <button type="button" id="reset-button">Reset Map</button>
                      </div>
                  </div>
                  </div>
              </div>
          </header>
      </div>
    </div>
    
    
    <div class="row">
      <div class="eight columns">

          <div class="twelve columns">
            <div id="map-box">
              <div id="map"></div>
          </div>
        </div>
      </div>



      <div class="four columns">
    
        <!-- option box -->
        <div id="option-box">
          <div class="row">
            <div id="option-box-row-1">
              <!-- option box 1 elements -->
              <div class="row">
                
              </div>
              <div id="J-planner">
                <h6>Journey Planner</h6>
                <div class="test" id="prediction_area">
                  <input type='text' id='future_hour' name='future_hour'>
                    <p>Results will be displayed here</p>
                </div>
                    
            </div>
          </div>
    
    
          <div class="row">
            <div id="option-box-row-2">
              <!-- option box 1 elements -->
              <div class="row">
                <div id="analysis_title"></div>
                  <div id="analysis_area">
                          <div id="weekly_chart"></div>
                  </div>
              </div>
            </div>
          </div>


          




          <!-- <div class="row">
            <div class="twelve columns">
                  

                  <p>Toggle switch and click the map to drop locaiton</p>
                  <label class="switch">
                    <input type="checkbox" id="toggle-switch">
                    <span class="slider"></span>
                  </label>
                
            </div>
          </div> -->








      </div>
    </div>



    <div class="row">
      <div class="twelve columns">
        <div id="analysis_title"></div>
            <div id="analysis_area">
                <div id="weekly_chart"></div>
            </div>
          </div>
      </div>
    </div>



    <div class="row">
      <div class="twelve columns">
        
      </div>
    </div>



    





    <div id="main"></div>

    <script>
        stationDropDown();
        predictionDropDown();
        displayWeather();
        weeklyChart();

        google.charts.load('current', {'packages':['corechart']});

    </script>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  </script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyDb1zt2yFhv6A2dHezuG3hzGh9kva2R4OE&callback=initMap" async defer></script> -->
<script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyDwYEhzy32Rvet0YJUZTETo3iPa2Pe6JH4&callback=initMap" async defer></script>

</body>
</html>