<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Dublin Bikes</title>
  <link rel="icon" type="image/x-icon" href="/static/Images/DublinBikesLogo.png">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- COOL FONT -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
</style>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!--JS LINK-->
  <script src="{{ url_for('static', filename='/js/peterjs.js') }}"></script>

</head>
<body>
  <header>
   
  </header>

  <div class="introDiv">
    <h2 class="navy_font_color" for="desired-station-Input">dublinbikes</h2>
  </div>

  <div>
    <div class="containerr">
      <div class="mapDiv">
        <div id="map"></div>
      </div>
      <div class="weatherDiv">
        <div class="weatherForecast">

          <div class="weather-inf-top">
            <h3>Current Weather</h3>
            <p>Weather: <span>Sunny</span></p>
            <p>Temperature: <span>25°C</span></p>
            <p>Date: <span id="current-date"></span></p>
          </div>

          <div class="weather-info-bottom">
            <h3>Current Weather</h3>
            <p>Weather: <span>Sunny</span></p>
            <p>Temperature: <span>25°C</span></p>
            <p>Date: <span id="current-date"></span></p>
          </div>



        </div>
      

      </div>
    </div>
  </div>

    <script src="https://maps.googleapis.com/maps/api/js?
    key=AIzaSyDb1zt2yFhv6A2dHezuG3hzGh9kva2R4OE&callback=initMap" async defer></script>
    <script>document.getElementById("current-date").textContent = new Date().toLocaleDateString();</script>

    </body> 
    
    

  
</body>



</html>
